<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job-Hunter View</title>
    <link rel="stylesheet" href="bootstrap1.css"/>    
    
    </head>

<body>
        <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="1.jpg" style="max-height: 265px;" alt=""/> <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Barista</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">12/09/2018</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car">TYPE</i> <p class="small font-bold">Part-Time</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket">SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer">LOCATION</i> <p class="small font-bold">Lilydale</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Exciting opportunity to be aligned with a cool coffee company within a brand new BP branded service station within a busy part of Hoxton Park (cnr Cowpasture Road and M7 Motorway). Commencement is required for the first week of October. One part-time barista required for Mon-Fri (afternoon shifts). During quieter periods, the barista will also be required to assist in the running of the fuel/convenience store components.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Hospitality & Tourism</td></tr>
                                    <tr><th scope="row">Contact</th><td>Paul<br/>0442425467<br>paul123@gmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div> 
					</div><br>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="2.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Retail Assistant</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard">POSTED ON</i> <p class="small font-bold">13/09/2018</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Full-Time</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Werribee</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Looking for a long term career position. Have excellent communication and interpersonal skills. Hold a permanent residence visa in Australia Have previous retail experience working in a grocery store . Have a track record of being reliable and professional.To organize an interview, please forward your resume with your application making sure you state you visa status.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Retail</td></tr>
                                    <tr><th scope="row">Contact</th><td>John <br>0425467428 <br>johnsanders@gmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="3.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Electrician</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">14/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Illawarra</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Seeking trade qualified Electricians for various roles based in the Illawarra & Shoalhaven Your new company Our reputable clients are seeking experienced and trade qualified electricians to assist in current & upcoming projects based in the Illawarra & Shoalhaven region.  </td></tr>
                                    <tr><th scope="row">Job Category</th><td>Trades & Services</td></tr>
                                    <tr><th scope="row">Contact</th><td>Sam<br>0426526321<br>samgia@gmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div><br>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="4.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Dump Truck Operator</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">14/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Full-Time</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">New South Wales</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Dump Truck Operator Required | $30-$32 Travel & Penalties | Sites based Western Sydney | Leading Civil Contractor <br> Dump truck Operator Required $30 - $32 per hour Travel Penalty Rates<br> </td></tr>
                                    <tr><th scope="row">Job Category</th><td>Construction</td></tr>
                                    <tr><th scope="row">Contact</th><td>Dan Andre<br>0428985963<br>andredan@yahoo.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="5.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Float/Semi Tipper Driver</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">15/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Pinkenba</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Experienced Quad float and semi tipper driver required. Experienced Float/semi tipper driver Urban Earthmoving - Pinkenba QLD Casual <br> Experienced Quad float and semi tipper driver required. Must be competent in floating/loading excavators with good driving record. Experience in semi tippers also required.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Manufacturing, Transport & Logistics </td></tr>
                                    <tr><th scope="row">Contact</th><td>Steve Fed<br>0428652153 <br> fedsteve@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="6.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Tutors & Private Teachers</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">15/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Melbourne</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>We are urgently looking for motivated and passionate people from all across the ACT (both with & without experience) to teach in a range of different subject areas including Maths, Sciences, Music, the Arts, Languages, Health and Fitness & many more! <br> Our tutors & private teachers are free to set their schedules, making it the perfect job for anyone looking for flexible work hours. Whether you’re a student, a teacher-in-training, a recent university graduate, or just looking for a little extra tutoring work on the side, Superprof caters to everyone! </td></tr>
                                    <tr><th scope="row">Job Category</th><td>Education & Teaching</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="7.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Retention Sales Consultant</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">14/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Cremorne</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Motivated, outgoing, positive and passionate about customer service and sales Ability to handle objections confidently and think on your feet Second-to-none rapport building skills Hunger to do well Experience preferred but not necessary.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Sales</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="8.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Receptionist </span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">16/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Melbourne</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Temporary Opportunity Immediate Start Lower North Shore Location Your new company This organisation is the leading provider of identity for the enterprise. They connect and protect employees of many of the world's largest enterprises and they securely connect enterprises to their partners, suppliers and customers. They are currently looking for a professional and organised temporary Receptionist for 3 weeks to join their dynamic and friendly team. Your new role Based at Reception, this role will include general reception duties and office administration support whilst also assisting our Marketing team as required.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Administration & Office Support</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="9.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Poultry Farm Worker</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">15/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Temp</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Tamworth</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Permanent Poultry Worker required for ProTen broiler farm near Tamworth.Monday to Friday and every second weekend.Experience preferred.Need transport.Medical and Drug pre-employment tests done</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Farming & Veterinary</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="10.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Network Specialist</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">15/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Tarneit</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>I’m recruiting for a Network and Communications Specialist – Telecommunications, Healthcare environment, $80K - $90K circa – Melbourne based Responsible for interfacing equipment, design, implementation, configuration, maintenance/support across Enterprise COMM’s environment, incl; LANs & WANs, voice/PABX/VOIP, devices, Internet, messaging, firewalls, security etc. Cisco shop, CCNP, and CCIE highly sought.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Information & Communications Technology</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="11.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Wait Staff</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">13/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Full-Time</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Tarneit</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Hi, we are hiring a wait staff for our busy Restaurant for 2 days a week.Friday and Saturday.3 pm start.Good wages.ASAP Start.Must have experience.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Hospitality & Tourism</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="12.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Support Coordinator</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">11/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Part-Time</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Hoppers Crossing</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Loyal Care is looking for a support coordinator. We are looking committed individuals to making a difference to the lives of clients. We deliver individualised support through our dedicated Teams, bringing local knowledge and community connections.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Healthcare & Nursing</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="13.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Hairdressers</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">12/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">West Melbourne</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Qualified Hairdressers wanted in a busy point Cook shopping centre for 5 days a week. - Must be able to work Saturday & Sunday’s - Must be able to work late nights. Must be reliable and be able to work in a fast environment.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Retail</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="14.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Veet Installers</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">15/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Part-Time</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Melbourne CBD</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>We are looking for enthusiastic Installers who can work under VEET Scheme. You need to be on field doing door to door marketing and giving out free energy saving globes to residential customers. You will be paid top dollars in the market. You can choose this role as per your flexibility. We are offering Part time, Full time, Casual. Potential to earn $1000 to $1500 Per Week. We are also looking for LEAD generators to book appointments for the installations and explaining the customers about VEET Schemes.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Sales</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="15.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Civil Labourers</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">15/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Temp</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Cragieburn</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Opportunities for skilled civil labourers on upcoming civil projects Your new company Our Clients are regional industry leaders in the civil construction industry. Our clients are looking for reliable, flexible, hardworking and motivated individuals. Your new role Opportunities exist working directly for top tier construction companies, civil companies and subcontractors. Work includes general civil labouring, spotting plant machinery, pipe laying, earth moving and an understanding of OH&S principles. Experience in any or all of the fields will best determine the position suitability. What you'll need to succeed You must have a white card, reliable transport, previous experience on civil projects and available for a strict drug & alcohol testing. Being able to work a full week will be advantageous, but there are opportunities for one and two day contracts. What you'll get in return You will receive above award wages as well as allowances and excellent work conditions. There is an opportunity to prove yourself and obtain long term work through Hays or working directly through clients. </td></tr>
                                    <tr><th scope="row">Job Category</th><td>Trades & Services</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="16.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Driving Instructor</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">14/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">RON</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Based in Hoppers Crossing, Sharmas Driving School (SDS), has been providing professional driver education services since 1991. We currently have 7 male and female instructors and need a new female instructor to cope with increasing demand in the area. We are open 7 days a week.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Education & Teaching</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="17.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Van Driver</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">12/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Casual</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Melbourne</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Hi all hundal transport now looking van driver who have Australian Drivig license full working rights in Australia. Abn and able to drive manual van plz call if you have all three requirements we start pay from $19 p/h.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Manufacturing, Transport & Logistics</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="18.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Wordpress Developer</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">11/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Temp</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Macaulay</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>We are looking awesome Junior PHP / WordPress Developers to join our team.Ability to assist with web management and hosting (cPanel). Understanding of ecommerce platforms. Creating Landing pages for Split A/B Marketing. Basic understanding of SEO and how it is affected by development choices. Work under Team head to produce different tasks of website development.</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Information & Communications Technology</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="19.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Carpenter</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">16/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Part-Time</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">HOurly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">North Melbourne</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Hi, We are a small group of carpenters based in the western suburbs. We do frames, lock up & fix, decks, pergolas, fencing, flooring, stairs, cladding, extensions, renovations, demolition and much more. Happy to work with clients budget so call us for a free measure and quote. </td></tr>
                                    <tr><th scope="row">Job Category</th><td>Construction</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="20.jpg" style="max-height: 265px;" alt=""/>                        <span class="card-title" style="background-color: darkgray; border-radius: 20px; padding: 7px; font-size: medium; margin-left: 10px;">Counter Staff</span>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-dashboard"> POSTED ON</i> <p class="small font-bold">16/09/18</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-car"> TYPE</i> <p class="small font-bold">Full-TIme</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-rocket"> SALARY</i> <p class="small font-bold">Hourly-Rate</p></div>
                            <div class="col-md-3 col-sm-6 col-xs-6"><i class="blue-grey-text darken-4 fa fa-beer"> LOCATION</i> <p class="small font-bold">Preston</p></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="table-responsive small" style="margin: 0;">
                                <table class="table" style="margin: 0;">
                                    <tr><th scope="row"></th><td>Butcher shop- counter sales assistant required.We are looking for a female staff who has experience in selling and assisting in a butcher shop in Preston Market.If this sound like you please contact</td></tr>
                                    <tr><th scope="row">Job Category</th><td>Retail</td></tr>
                                    <tr><th scope="row">Contact</th><td>Tracey Salter <br> 0425632258<br> saltertracey@hotmail.com</td></tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="https://www.google.com" class="waves-effect waves-light btn btn-sm btn-info">View</a>                                            </div>
                </div>
            </div>
            </div>

    </div>

</body>
</html>
