
    <!--Banner-->
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br><br>
                <h1 class="header center light" style="padding-top: 40px;"><big class="text-warning">HireMe</big> Jobs Matching</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Be your own BOSS !!!</h5>
                </div>
                <div class="row center">
                    <a style="margin: auto;" href="http://materializecss.com/getting-started.html" class="btn btn-info btn-lg">Get Started</a>
                </div>
                <br>
                <br>
            </div>
            <div class="parallax">
                <%= image_tag "banner.jpg" %>>
            </div>
        </div>
    </div>
    <!--/.Banner-->