 <footer class="navbar fixed-bottom navbar-dark navbar-inverse">
      <!--Copyright-->
        <div class="footer-copyright my-2 text-center">
                ©2018 Copyright: <%= link_to 'HireMe', root_path %> --- RMIT University
        </div>
    </footer>
    