 <footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <!--Copyright-->
      <div class="container">
        <small>
                ©2018 Copyright: <%= link_to 'HireMe', root_path, class: 'text-primary' %> --- RMIT University
        </small>
        <nav>
            <ul>
            <li class="nav-item"><%= link_to "About", '#', class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Contact Us", '#', class: 'nav-link' %></li>
            </ul>
        </nav>
    </div>
    </footer>
    